{{ define "main" }}

<div class="site--main">
    <h1 class="post--single__title">{{.Title}}</h1>
    {{ if .IsTranslated }}
    <div class="translatedCard">
        <h4>{{ i18n "translations" }}</h4>
        <ul>
            {{ range .Translations }}
            <li>
                <a href="{{ .Permalink }}">{{ .Lang }}: {{ .Title }}{{ if .IsPage }}{{ end
                    }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
    <div class="graph u-marginBottom30">
        {{ .Content }}
    </div>
</div>

{{ end }}