{{ define "main" }}
<div class="fArchive--main">
    {{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ range $pages.ByPublishDate.Reverse.GroupByDate "2006" }}
    <h2 class="fArchive--heroTitle">{{ .Key }}</h2>
    {{ range .Pages.ByPublishDate.Reverse.GroupByDate "January" }}
    <h3 class="fArchive--title__month">{{ .Key }}</h3>
    <ul class="fArchive--list">
        {{ range .Pages }}
        <li class="fArchive--item">
            <div class="fArchive--title">
                <a href="{{ .RelPermalink }}" title="{{ .Title }}">
                    {{ .Title }}
                </a>
            </div>
            <div class="fArchive--meta">
                {{ .PublishDate.Format "2006-01-02" }}
                <span class="sep"></span>
                {{ T "article.readingTime" .ReadingTime }}
            </div>
        </li>
        {{ end }}
    </ul>
    {{ end }}
    {{ end }}
</div>
{{ end }}