{{ define "main" }}

<div class="site--main">
    <h1 class="fArticle--headline">{{.Title}}</h1>
    <div class="good--list">
        {{ range .Params.faves }}
        <div class="good--item">
            <div class="img-spacer">
                <img src="{{ .cover }}">
            </div>
            <div class="good--name">
                <div class="brand">{{ .brand }} · {{ .cat }}</div>
                {{ .title }}
            </div>
        </div>
        {{ end }}
    </div>
    <div class="fGraph fArticle--content">
        {{ .Content }}
    </div>
</div>

{{ end }}