{{ define "main" }}

<div class="site--main">
    <article class="fArticle fArticle--wide">
        <h1 class="fArticle--title">{{.Title}}</h1>
        <h2 class="fArticle--subtitle">{{ .Params.subtitle }}</h2>
        <div class="good--list">
            {{ range .Params.faves }}
            <div class="good--item">
                <div class="img-spacer">
                    <img src="{{ .cover }}">
                </div>
                <div class="good--name">
                    <div class="brand">{{ .brand }} · {{ .cat }}</div>
                    {{ .title }}
                </div>
            </div>
            {{ end }}
        </div>
        <div class="fGraph fArticle--content">
            {{ .Content }}
        </div>
    </article>
</div>

{{ end }}