{{ define "main" }}

<div class="site--main">
    <article class="fArticle">
        <h2 class="fArticle--headline">{{ .Title }}</h2>
        <ul class="link-items">
            {{ range .Params.links }}
            <li class="link-item">
                <a class="link-item-inner" href="{{ .link }}" title="{{ .title }}" target="_blank">
                    <span class="sitename"><strong>{{ .title }}</strong>{{ .description }}</span>
                </a>
            </li>
            {{ end }}
        </ul>
        <div class="fGraph fArticleContent">
            {{ .Content }}
        </div>
    </article>
</div>

{{ end }}