.template--about {
    padding-top: 20px;
}

.good--list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 30px 0 20px;
}

.good--item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f4f6;
    border-radius: 10px;
    padding: 30px 0 0;
    flex-direction: column;
    // margin-bottom: 25px;
    .img-spacer {
        width: 50%;
        position: relative;
        transition: 0.5s;
    }
    &:hover {
        background: #eeeef0;
        .img-spacer {
            transform: translate3d(0, -5px, 0);
        }
        .good--actions,
        .good--review {
            display: flex;
        }
    }
}

.good--name {
    font-size: 14px;
    padding-bottom: 10px;
    color: var(--text-main-color);
    margin-top: 10px;
    line-height: 1.4;
    width: 92%;
    .brand {
        color: var(--text-gray-lightest);
    }
}

@media (max-width: 600px) {
    .good--list {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
        padding: 10px 0 30px;
    }
}
