.category--list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    .category--item {
        border: 1px solid var(--farallon-border-color);
        border-radius: 8px;
        // padding: 8px;
        display: flex;
        // align-items: center;
        flex-direction: column;
        .category--content {
            //flex: 1 1 auto;
            line-height: 1.6;
            padding: 8px 12px;
            a {
                font-size: 16px;
                font-weight: 600;
                &:hover {
                    color: var(--farallon-hover-color);
                }
                //margin-bottom: 5px;
            }
            .category--desc {
                font-size: 12px;
                color: #999;
            }
        }
        .category--cover {
            width: 100%;
            height: 128px;
            object-fit: cover;
            //  margin-bottom: 5px;
            border-radius: 8px 8px 0 0;
        }
    }
}

@media (max-width: 600px) {
    .category--list {
        grid-template-columns: repeat(1, 1fr);
    }
}

.archive--tagList {
    display: flex;
    flex-wrap: wrap;
}
.archive--tagItem {
    margin: 10px;
    background-color: var(--farallon-background-gray);
    padding: 3px 18px;
    border-radius: 999rem;
    font-size: 14px;
    color: var(--farallon-text-light);
    &:hover {
        color: var(--farallon-hover-color);
    }
}

.archive--header {
    text-align: center;
    padding-bottom: 20px;
    .post--single__title {
        margin-bottom: 0px;
    }
    .post--single__subtitle {
        line-height: 1.4;
        font-size: 18px;
        color: var(--farallon-text-light);
    }
    margin-bottom: 15px;
}
