.site--footer {
    &__content {
        display: flex;
        align-items: center;
    }
    &__info {
        display: none;
        text-align: center;
        color: var(--farallon-text-light);
        a {
            text-decoration: underline;
            &:hover {
                color: var(--farallon-hover-color);
            }
        }
        &.active {
            display: block;
        }
    }
    font-size: 14px;
    padding: 20px 80px;
    border-top: 1px dotted #eee;
    color: rgba(0, 0, 0, 0.67);
    .copyright {
        margin-left: auto;
        display: flex;
        align-items: center;
        svg {
            fill: var(--farallon-text-light);
            margin-left: 8px;
            cursor: pointer;
            &:hover {
                fill: var(--farallon-hover-color);
            }
        }
    }
    nav {
        ul {
            display: flex;
            align-items: center;
            li {
                margin-right: 10px;
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
