{{ define "main" }}
<div class="site--main">
    <header class="fTerm--header">
        <div class="fTerm--content">
            <h1 class="fTerm--title">{{.Title}}</h1>
            <h2 class="fTerm--description">{{.Params.description }}</h2>
        </div>
    </header>
    <section class="collectionCard">
        {{ $data := .Data }}
        {{ range $key, $value := .Data.Terms.ByCount }}
        <div class="collectionCard--item">
            {{ if $value.Page.Params.cover }}
            <img src="{{ $value.Page.Params.cover }}" class="collectionCard--image">
            {{ end }}
            <div class="collectionCard--content">
                <a href="{{ $value.Page.Permalink }}">
                    {{ $value.Page.Title }}<span>({{ $value.Count }})</span>
                </a>
                <div class="collectionCard--desc">{{ $value.Page.Params.description }}</div>
            </div>
        </div>
        {{ end }}
    </section>
</div>
{{ end }}