{{ define "main" }}
<header class="fTerm--header">
    <div class="fTerm--content">
        <h1 class="fTerm--title">{{.Title}}</h1>
        <h2 class="fTerm--description">{{.Params.description }}</h2>
    </div>
</header>
<div class="site--main">
    <section class="collectionCard">
        {{ $data := .Data }}
        {{ range $key, $value := .Data.Terms.ByCount }}
        <div class="collectionCard--item" data-count="{{ $value.Count }}">
            {{ if $value.Page.Params.cover }}
            {{ with $value.Page.Resources.Get $value.Page.Params.cover }}
            {{ with .Fill "508x200 Center" }}
            <img src="{{ .RelPermalink }}" class="collectionCard--image" alt="{{ $value.Page.Title }}"
                class="fCategory--cover" />
            {{ end }}
            {{ else }}
            <img src="{{ .Params.cover }}" alt="{{ $value.Page.Title }}" class="fCategory--cover" />
            {{ end }}
            {{ end }}
            <div class="collectionCard--content">
                <a href="{{ $value.Page.Permalink }}" title="{{ $value.Page.Title }}"
                    aria-label="{{ $value.Page.Title }}">
                    {{ $value.Page.Title }}
                </a>
                <div class="collectionCard--description">{{ $value.Page.Params.description }}</div>
            </div>
        </div>
        {{ end }}
    </section>
</div>
{{ end }}