@charset "UTF-8";

@import "modules/variable.scss";

@import "modules/normalize.scss";

html {
    background-color: var(--farallon-background-gray);
}

body {
    letter-spacing: 0;
    font: {
        weight: 400;
        style: normal;
        family: "Open Sans", PingFang SC, Hiragino Sans GB, Microsoft YaHei,
            STHeiti, WenQuanYi Micro Hei, Helvetica, Arial, sans-serif;
        size: 16px;
    }
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    color: var(--farallon-text-color);
    line-height: 1.8;
    background-color: var(--farallon-background-gray);
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

button,
input,
textarea {
    appearance: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Open Sans", PingFang SC, Hiragino Sans GB, Microsoft YaHei,
        STHeiti, WenQuanYi Micro Hei, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: var(--text-main-color);
}

.main {
    background-color: var(--farallon-background-white);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    position: relative;
    &::after {
        aspect-ratio: 1/3;
        background-image: linear-gradient(
            to right,
            var(--farallon-griedent-start),
            var(--farallon-griedent-end)
        );
        border: 0;
        border-radius: 9999px;
        bottom: calc(100% - 100px);
        filter: blur(44px);
        opacity: 0.2;
        position: absolute;
        right: 0;
        left: 0;
        content: "";
    }
}

.site--main {
    padding: 50px 80px;
    min-height: 70vh;
    &__gears {
        .post--single__title {
            margin-bottom: 5px;
        }
        .post--single__subtitle {
            font-size: 18px;
            color: var(--farallon-text-gray);
            line-height: 1.5;
        }
    }
}

@media (max-width: 820px) {
    .site--main {
        padding: 40px;
    }
}

@media (max-width: 768px) {
    .site--main {
        padding: 3.5%;
    }
}

@import "templates/footer.scss";

@import "templates/header.scss";

@import "modules/post.scss";

@import "templates/single.scss";

@import "modules/graph.scss";

@import "modules/comment.scss";

@import "templates/archive.scss";

@import "modules/_db.scss";

@import "templates/category.scss";

.archive-header {
    text-align: center;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    h1 {
        font-size: 24px;
        font-weight: bold;
    }
    .taxonomy-description {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.6);
    }
}

.archive-title {
    display: flex;
    align-items: center;
    svg {
        margin-right: 10px;
    }
}

.main {
    position: relative;
    &::after {
        aspect-ratio: 1/3;
        background-image: linear-gradient(to right, #007cf0, #00dfd8);
        border: 0 solid #e5e5e5;
        border-radius: 9999px;
        bottom: calc(100% - 100px);
        filter: blur(44px);
        opacity: 0.2;
        position: absolute;
        right: 0;
        left: 0;
        //z-index: -50;
        content: "";
    }
}

@import "templates/map.scss";
@import "templates/douban.scss";

.mapHeader {
    display: flex;
    align-items: center;
    padding: 30px 0;
    &--title {
        font-size: 28px;
    }

    &--image {
        width: 64px;
        height: 64px;
        margin-right: 20px;
    }
}

.footer-map {
    height: 550px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 4px;
    .lds-ripple {
        position: absolute;
        z-index: 10;
        top: calc(50% - 40px);
        left: calc(50% - 40px);
    }
    &.is-loaded {
        .lds-ripple {
            display: none;
        }
    }
}

.map--tools {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #fff;
    width: 32px;
    height: 32px;
    z-index: 20px;
    cursor: pointer;
    &.active {
        background-color: var(--main-bg-color);
    }
    &--mark {
        top: 52px;
    }
}

.footer-map-note {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.56);
    margin-bottom: 100px;
    //  @include layoutSingleColumn--wide;
}

.header-map-note {
    margin-top: 30px;
    //  @include layoutSingleColumn--wide;
}

.feature--header {
    padding: 50px 0;
    h1 {
        font-size: 48px;
    }
    p {
        font-size: 18px;
        padding-right: 40%;
        color: rgba($color: #000000, $alpha: 0.6);
    }
}

.linkGroup {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 50px;
    grid-column-gap: 20px;
    column-gap: 20px;
}

.link--item {
    margin-bottom: 40px;
    padding: 10px 0;
    .title {
        font-size: 18px;
        // margin-bottom: 5px;
        font-weight: 700;
    }
    .description {
        line-height: 1.6;
        font-size: 14px;
        color: var(--text-gray-light);
        max-height: 3.2em;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .link {
        color: var(--main-bg-color);
        font-size: 12px;
        font-weight: bold;
        margin-top: 5px;
        position: relative;
        transition: 0.5s;
        fill: var(--main-bg-color);
        a {
            display: flex;
            align-items: center;
        }

        &:hover {
            transform: translate3d(10px, 0, 0);
            color: var(--main-hover-color);
        }
    }
}

@media (max-width: 600px) {
    .feature--header {
        padding: 30px 0;
        h1 {
            font-size: 32px;
        }
        p {
            font-size: 16px;
            padding-right: 0;
            color: var(--text-gray-light);
        }
    }
    .linkGroup {
        grid-template-columns: repeat(2, 1fr);
        padding-top: 30px;
    }
    .link--item {
        margin-bottom: 10px;
        padding: 0;
    }

    .mapHeader {
        &--title {
            font-size: 18px;
        }

        &--image {
            width: 32px;
            height: 32px;
            margin-right: 10px;
        }
    }
}

.link--action {
    border: 2px solid var(--main-bg-color);
    color: var(--main-bg-color);
    font-size: 16px;
    font-weight: bold;
    padding: 3px 20px;
    cursor: pointer;
    border-radius: 2px;
    &:hover {
        background-color: var(--main-hover-color);
        border-color: var(--main-hover-color);
        color: var(--text-white);
    }
    &s {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
    }
}

@media (max-width: 600px) {
    .link--actions {
        padding: 15px 0;
    }
}

.tooltip {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:after {
        content: "忠实读者";
        position: absolute;
        background-color: var(--text-main-color);
        color: var(--text-white);
        font-size: 12px;
        border-radius: 2px;
        top: -30px;
        padding: 3px;
        width: 60px;
        text-align: center;
        left: -14px;
        display: none;
    }
    &:hover {
        &::after {
            display: block;
        }
    }
}

.marker {
    background: linear-gradient(180deg, #cf6609, #cc0000);
    box-shadow: 0 16px 60px 0 rgba(0, 0, 0, 0.08),
        0 6px 12px 0 rgba(0, 0, 0, 0.1);
    background-size: cover;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
    transition: width 0.2s ease-out, height 0.2s ease-out;
    border: 2px solid #fff;
    &::before {
        position: absolute;
        border-radius: 100%;
        content: "";
        width: 100%;
        height: 100%;
        background-image: var(--photo);
        background-position: 50%;
        background-size: cover;
        transition: opacity 0.5s ease-out;
        opacity: 0;
    }

    &:not(.no-hover):hover {
        width: 64px;
        height: 64px;
        z-index: 100;
        &::before {
            opacity: 1;
        }
    }

    &.no-post {
        background: linear-gradient(180deg, #89a9cd 0, #485f81);
    }
}

.cluster {
    &::after {
        content: attr(data-cardinality);
        color: #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 100%;
        font-size: 12px;
        font-weight: 700;
        transition: font-size 0.2s ease-out;
    }

    &:hover {
        &::after {
            font-size: 32px;
        }
    }
}

.mapboxgl-popup {
    width: 200px;
}
.mapboxgl-ctrl-bottom-left {
    display: none;
}
.mapboxgl-ctrl-bottom-right {
    display: none;
}
.mapboxgl-popup-content {
    padding: 5px 10px;
    line-height: 1.6;
}

.mapboxgl-popup-content h3 {
    font-weight: 700;
    padding: 5px 0 0;
}

.mapboxgl-popup-content {
    font-size: 14px;
    padding-bottom: 10px;
}

.footer-map-note {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.56);
    margin-bottom: 100px;
}

.markder {
    position: absolute;
    height: 150px;
    width: 150px;
    top: var(--y);
    left: var(--x);
    border: 2px solid var(--main-bg-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    will-change: top, left;
    transition: border-color 0.3s linear, opacity 0.6s ease-out;
    opacity: 0.3;
    z-index: 1000;
}

.meta--map {
    position: relative;
    cursor: pointer;
    &.active {
        .meta--mapPop {
            display: block;
        }
    }
}

.meta--mapPop {
    position: absolute;
    background-color: hsla(0, 0%, 99.6%, 0.88);
    border: 12px solid hsla(0, 0%, 99.6%, 0.88);
    border-radius: 12px;
    width: 226px;
    height: 226px;
    box-sizing: border-box;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: none;
}

.footer--map {
    height: 300px;
    border-radius: 4px;
    margin-bottom: 20px;
    overflow: hidden;
}

.marker--posts {
    max-height: 200px;
    overflow-y: auto;
    padding-top: 10px;
    &::-webkit-scrollbar {
        width: 1px;
    }
}

.template--404 {
    padding: 0 80px 80px;
    .error--text {
        font-size: 120px;
        text-align: center;
        color: var(--farallon-text-gray);
    }
}

.error--posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.post--error {
    border: 1px solid var(--farallon-border-color-light);
    padding: 8px;
    border-radius: 10px;
    .post--title {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.3;
        margin-bottom: 10px;
    }
    .cover {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    .meta {
        font-size: 12px;
        color: var(--farallon-text-gray-lightest);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        // margin-top: 2px;
        time {
            display: flex;
            align-items: center;
        }
        svg {
            margin-right: 4px;
            fill: var(--farallon-text-gray-lightest);
            margin-left: 10px;
            &:first-child {
                margin-left: 0;
            }
        }
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.footer--icon {
    width: 20px;
    margin-left: 5px;
    opacity: 0.7;
    cursor: no-drop;
    &:hover {
        opacity: 1;
    }
}

@import "templates/about.scss";

.dot {
    &::before {
        content: "·";
        margin-left: 4px;
        margin-right: 4px;
    }
}

.notice--wrapper {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    font-size: 12px;

    max-width: 800px;
    padding: 10px 15px;
    border-radius: 8px;
    position: fixed;
    z-index: 1000;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    //transform: translateY(-100px);
    transition: 0.5s transform;
    //  &.is-active {
    //transform: translateX(-50%);
    //  transform: translateY(0);
    // }
}

@media (max-width: 768px) {
    .notice--wrapper {
        width: 80%;
    }
}

@import "modules/zoom.scss";
