.button--like {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    .count {
        font-size: 14px;
        color: var(--farallon-text-light);
    }

    &.is-active,
    &:hover {
        svg {
            fill: var(--farallon-main-color);
        }

        .count {
            color: var(--farallon-main-color);
        }

        .icon--active {
            display: block;
        }

        .icon--default {
            display: none;
        }
    }

    .icon--active {
        display: none;
    }

    .icon--default {
        display: block;
    }
}
