{{ define "main" }}

<main class="site--main">
    <article class="post--single" itemscope="itemscope" itemtype="http://schema.org/Article">
        <div class="post--single__meta"><time datetime='{{.Date.Format "2006-01-02 15:04:01" }}' class="humane--time">{{
                .Date | time.Format
                ":date_long"
                }}</time></div>
        <h2 class="post--single__title">{{ .Title }}</h2>
        <div class="post--single__content graph">
            {{ .Content }}
        </div>
        <div class="tag--list">
            {{ range (.GetTerms "tags") }}
            <a href="{{ .RelPermalink }}" class="artile--tag"><span>#</span>{{ .LinkTitle }}</a>
            {{ end }}
        </div>
        {{ if .Params.twitter }}
        <div class="twitter--area">
            <a href="{{ .Params.twitter }}" target="_blank" class="twitter--btn">Reply on twitter</a>
        </div>
        {{end}}
    </article>
</main>

{{ end }}