{{ define "main" }}
<section class="site--main">
    <header class="archive--header">
        <h1 class="post--single__title">{{.Title}}</h1>
        <h2 class="post--single__subtitle">{{.Params.description }}</h2>
    </header>
    <div class="archive--tagList">
        {{ $data := .Data }}
        {{ range $key, $value := .Data.Terms.ByCount }}
        <span class="archive--tagItem">
            <a href="{{ $value.Page.Permalink }}">
                {{ $value.Page.Title }} <span>({{ $value.Count }})</span>
            </a>
        </span>
        {{ end }}
    </div>
</section>
{{ end }}