{{ define "main" }}
<header class="fTerm--header">
    <div class="fTerm--content">
        <h1 class="fTerm--title">{{.Title}}</h1>
        <h2 class="fTerm--description">{{.Params.description }}</h2>
    </div>
</header>
<section class="site--main">
    <div class="tagCard">
        {{ $data := .Data }}
        {{ range $key, $value := .Data.Terms.ByCount }}
        <span class="tagCard--item">
            <a href="{{ $value.Page.Permalink }}">
                {{ $value.Page.Title }} <span>({{ $value.Count }})</span>
            </a>
        </span>
        {{ end }}
    </div>
</section>
{{ end }}