{{ $related := .Site.RegularPages.Related . | first 4 }}
{{ with $related }}
<div class="related--content">
    <h3 class="fRelated--heroTitle">{{ i18n "article.relatedContent" }}</h3>
    <div class="fRelated--list">
        {{ range . }}
        <div class="fRelated--item">
            <a href="{{ .RelPermalink }}">
                <div class="fRelated--cover">
                    {{ if .Content }}
                    {{ $urls := findRE "<img src=\"[^\"|\\\"]*\"" .Content }} {{ if $urls }} {{ $url :=index ($urls) 0
                        }} {{ $url :=(strings.TrimPrefix "<img src=\"" $url) }}
      {{ $url := strings.TrimRight " \"" $url }} <img src="{{ $url }}" class="cover" alt="{{ .Title }}" />
                    {{ end }}
                    {{ end }}
                </div>
                <div class="fRelated--title">
                    {{ .Title }}
                </div>
                <div class="fRelated--meta">
                    {{ if .Date }}
                    <time datetime='{{.Date.Format "2006-01-02 15:04:01" }}'>{{ .Date.Format
                        "2006-01-02" }}</time>
                    <span class="sep"></span>
                    {{ end }}
                    {{ T "article.readingTime" .ReadingTime }}
                </div>
            </a>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}