{{ $URL := .Get 0 }}
{{ with .Site.GetPage $URL }}
<div class="fMixtapeEmbed">
    <a href="{{ .Permalink }}" target="_blank" class="mixtapeContent" title="{{ .Title }}" aria-label="{{ .Title }}">
        <span class="markup--strong markup--mixtapeEmbed-strong">{{ .Title }}</span>
        <em class="markup--em markup--mixtapeEmbed-em">{{ .Summary | plainify | truncate 60 }}</em>
    </a>
    {{ if .Params.cover }}
    {{ with .Resources.Get .Params.cover }}
    {{ with .Fill "240x240 Center" }}
    <a href="{{ .Permalink }}" target="_blank" class="mixtapeImage"
        style="background-image:url('{{ .RelPermalink }}')"></a>
    {{ end }}
    {{ end }}
    {{ end }}
</div>
{{ end }}