{{ define "main" }}

<div class="site--main site--main__gears">
    <h1 class="post--single__title">{{.Title}}</h1>
    <h2 class="post--single__subtitle">{{ .Params.subtitle }}</h2>
    <div class="template--linksWrap">
        <ul class="link-items">
            {{ range .Params.links }}
            <li class="link-item">
                <a class="link-item-inner effect-apollo" href="{{ .link }}" title="Just a blog" target="_blank">
                    <span class="sitename"><strong>{{ .title }}</strong>{{ .description }}</span>
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
    <div class="graph u-marginBottom30">
        {{ .Content }}
    </div>
</div>

{{ end }}