{{ define "main" }}

<div class="site--main">
    <div class="db--container" data-token="{{ if .Params.token }}{{ .Params.token }}{{ end }}">
        <nav class="db--nav">
            <div class="db--navItem JiEun current" data-type="movie">Movie</div>
            <div class="db--navItem JiEun" data-type="book">Book</div>
            <div class="db--navItem JiEun" data-type="game">Game</div>
            <div class="db--navItem JiEun" data-type="music">Music</div>
            <div class="db--navItem JiEun" data-type="drama">Drama</div>
        </nav>
        <div class="db--genres">
        </div>
        <div class="db--list db--list__card">
        </div>
        <div class="block-more block-more__centered">
            <div class="lds-ripple">
            </div>
        </div>
    </div>
</div>

{{ end }}